@tailwind base;
@tailwind components;
@tailwind utilities;

.full-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  top: 5.5vh;
  overflow-x: scroll;
  scrollbar-width: large;
  color: white;
  z-index: 3;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 20px;
}
.full-list p {
  margin-left: 1.5vw;
}

.ingredients {
  background: rgb(59, 130, 246);
  height: 20vh;
  width: 26.1vw;
  left: 0;
}

.appliances {
  background: rgb(134, 239, 172);
  height: 20vh;
  width: 20vw;
  left: 14vw;
}

.ustensils {
  background: rgb(248, 113, 113);
  height: 20vh;
  width: 28.92vw;
  left: 27.95vw;
}

.inactive {
  display: none;
}

.block-with-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* RESPONSIVE TAG BARS */

@media (max-width: 1536px) {
  .full-list {
    top: 9.4vh;
  }
  .ingredients {
    width: 30vw;
  }
  .appliances {
    width: 25vw;
  }
  .ustensils {
    width: 35vw;
    left: 28vw;
  }
}

@media (max-width: 1280px) {
  .full-list {
    top: 7.5vh;
  }
  .ingredients {
    position: absolute;
    left: 6vw;
    width: 35vw;
  }
  .appliances {
    position: absolute;
    left: 44vw;
    width: 35vw;
  }
  .ustensils {
    position: absolute;
    left: 25vw;
    width: 35vw;
    top: 17.5vh;
  }
}

@media (max-width: 768px) {
  .full-list {
    top: 7.5vh;
    font-size: 14px;
  }
  .ingredients {
    position: absolute;
    left: 7.5vw;
    width: 70vw;
  }
  .appliances {
    position: absolute;
    left: 7.5vw;
    width: 70vw;
    top: 16.5vh;
  }
  .ustensils {
    position: absolute;
    left: 7.5vw;
    width: 70vw;
    top: 26.5vh;
  }
}
