@tailwind base;
@tailwind components;
@tailwind utilities;

.full-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  top: 5.5vh;
  overflow-x: scroll;
  scrollbar-width: large;
  color: white;
  z-index: 3;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 20px;
}
.full-list p {
  margin-left: 1.5vw;
}

.ingredients {
  background: rgb(59, 130, 246);
  height: 20vh;
  width: 25vw;
  left: 0;
}

.appliances {
  background: rgb(134, 239, 172);
  height: 20vh;
  width: 25vw;
  left: 0;
}

.ustensils {
  background: rgb(248, 113, 113);
  height: 20vh;
  width: 25vw;
  left: 0;
}

.inactive {
  display: none;
}

.block-with-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* RESPONSIVE TAG BARS */

@media (max-width: 1536px) {
  .full-list {
    top: 9.3vh;
  }
  .ingredients {
    width: 25vw;
  }
  .appliances {
    width: 25vw;
    left: 0;
  }
  .ustensils {
    width: 25vw;
    left: 0;
  }
}

@media (max-width: 1280px) {
  .full-list {
    top: 7.5vh;
  }
  .ingredients {
    position: absolute;
    left: 0;
    width: 35vw;
  }
  .appliances {
    position: absolute;
    left: 0;
    width: 35vw;
  }
  .ustensils {
    position: absolute;
    left: 0;
    width: 35vw;
  }
}

@media (max-width: 768px) {
  .full-list {
    top: 7.5vh;
    font-size: 14px;
  }
  .ingredients {
    position: absolute;
    left: 0;
    width: 70vw;
  }
  .appliances {
    position: absolute;
    left: 0;
    width: 70vw;
  }
  .ustensils {
    position: absolute;
    left: 0vw;
    width: 70vw;
  }
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
