@tailwind base;
@tailwind components;
@tailwind utilities;

.ingredients-full-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: blue;
  height: 20vh;
  width: 29vw;
  left: 0;
  top: 6vh;
  overflow-y: scroll;
  scrollbar-width: large;
  padding-left: 1vw;
}

.block-with-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overflow-spots-fullrecipe {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.overflow-spots-fullrecipeTablette {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
}
